@rajavijayakumar-r:registry=https://npm.pkg.github.com/@credavenue
//npm.pkg.github.com/:_authToken=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
@credavenue:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org